  <% provide :title, t(".title") %>

  <div>
    <h1><%= t ".title" %></h1>
    <p>
      <%= t ".the" %>
      <%= link_to t("static_pages.ror"), "http://www.railstutorial.org" %>
      <%= t ".is" %>
      <%= link_to t(".book"), "http://www.railstutorial.org/book" %>
      <%= t ".and" %>
      <%= link_to t(".screencasts"), "http://screencasts.railstutorial.org" %>
      <%= t ".info" %>
      <%= link_to t("static_pages.ror"), "http://rubyonrails.org/" %>
    </p>
  </div>
