  <footer class="footer">
    <small>
      <%= t ".the" %>
      <%= link_to t("static_pages.ror"), "http://www.railstutorial.org/" %>
      <%= t ".by" %>
      <%= link_to "Michael Hartl", "http://www.michaelhartl.com/" %>
    </small>
    <nav>
      <ul>
        <li><%= link_to t("static_pages.about.title"), "/about"%></li>
        <li><%= link_to t("static_pages.contract.title"), "/contract" %></li>
        <li><%= link_to t(".new"), "http://news.railstutorial.org/" %> </li>
      </ul>
    </nav>
  </footer>
